@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;

  transition: color 250ms $timing-function,
    background-color 300ms $timing-function, box-shadow 250ms $timing-function;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: $font-family;
}

.link {
  text-decoration: none;

  transition: color 250ms $timing-function,
    background-color 300ms $timing-function;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
// width: 100%;
// padding-left: 32px;
// padding-right: 32px;
// margin-left: auto;
// margin-right: auto;
