@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;

  transition: color 250ms $timig-function,
    background-color 300ms $timig-function, box-shadow 250ms $timig-function;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: $font-family;
}

.link {
  text-decoration: none;

  transition: color 250ms $timig-function,
    background-color 300ms $timig-function;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
