$font-family: 'Roboto', sans-serif;

$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$accent-text-color: #ff6b08;
$footer-text-color: #545454;
$warn-text-colo: #ff0000;

$bgc-footer: #f7f7f7;
$bgc-primary: #ffffff;

$accent-color: #ff6b01;
$hover-color: #a9a9a9;
$theme-color: #464242;

$btn-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-durat: 250ms;
