$font-family: 'Roboto', sans-serif;

$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$accent-text-color: #ff6b08;
$footer-text-color: #545454;

$bgc-footer: #f7f7f7;
$bgc-primary: #ffffff;

$accent-color: #ff6b01;

$btn-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);

$timig-function: cubic-bezier(0.4, 0, 0.2, 1);
