<footer class="footer">
  <div class="container footer__container">
    <span class="footer__rights"
      >&#169; 2022 &smid; All Rights Reserved &smid;</span
    >
    <span class="footer__devs">
      Developed with
      <svg class="footer__heart">
        <use href="./images/svg/sprite.svg#footer-heart"></use>
      </svg>
      by
      <a class="footer__link" href="#" id="goit-students">GoIT Students</a>
    </span>
  </div>
</footer>
<div class="modal-footer">
  <h2 class="modal-footer__title">Our team Project8</h2>
  <button type="button" class="modal-footer__close-btn close-btn">
    <svg class="close-btn__icon">
      <use href="./images/svg/sprite.svg#close-btn"></use>
    </svg>
  </button>
  <div class="slider-wrapper">
    <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
    <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>
    <ul class="slides-container" id="slides-container">
      <li class="slide">
        <div class="team-member">
          <h3 class="team-member__name">Olena Doroshenko</h3>
          <div class="team-member__photo-frame">
            <img
              class="team-member__photo"
              src="./images/team-photo/olena-doroshenko.jpg"
              alt="Olena Doroshenko"
            />
          </div>

          <h4 class="team-member__position">Teammate</h4>
          <p class="team-member__part">
            <b>Part of the project:</b> Library, Paggination
          </p>
        </div>
        <div class="favorite-film">
          <h3 class="favorite-film__title">Favorite film</h3>
          <div class="favorite-film__poster-frame">
            <img
              class="favorite-film__poster"
              src="./images/fav-films/warcraft.jpg"
              alt="Warcraft (2016)"
            />
          </div>
          <p class="favorite-film__name">Warcraft (2016)</p>
        </div>
      </li>
      <li class="slide">
        <div class="team-member">
          <h3 class="team-member__name">Tkachenko Dmytro</h3>
          <div class="team-member__photo-frame">
            <img
              class="team-member__photo"
              src="./images/team-photo/tkachenko-dmytro.jpg"
              alt="Tkachenko Dmytro"
            />
          </div>

          <h4 class="team-member__position">Teammate</h4>
          <p class="team-member__part">
            <b>Part of the project:</b> Library, Progress Bar
          </p>
        </div>
        <div class="favorite-film">
          <h3 class="favorite-film__title">Favorite film</h3>
          <div class="favorite-film__poster-frame">
            <img
              class="favorite-film__poster"
              src="./images/fav-films/die-hard.jpg"
              alt="Die Hard (1988)"
            />
          </div>
          <p class="favorite-film__name">Die Hard (1988)</p>
        </div>
      </li>
      <li class="slide">3</li>
      <li class="slide">4</li>
      <li class="slide">
        <div class="team-member">
          <h3 class="team-member__name">Alyona Romanii</h3>
          <div class="team-member__photo-frame">
            <img
              class="team-member__photo"
              src="./images/team-photo/alyona-romanii.jpg"
              alt="Alyona Romanii"
            />
          </div>

          <h4 class="team-member__position">Teammate</h4>
          <p class="team-member__part">
            <b>Part of the project:</b> Main, Spinner
          </p>
        </div>
        <div class="favorite-film">
          <h3 class="favorite-film__title">Favorite film</h3>
          <div class="favorite-film__poster-frame">
            <img
              class="favorite-film__poster"
              src="./images/fav-films/knives-out.jpg"
              alt="Knives out (2019)"
            />
          </div>
          <p class="favorite-film__name">Knives out (2019)</p>
        </div>
      </li>
      <li class="slide">
        <div class="team-member">
          <h3 class="team-member__name">Mykhailo Suhak</h3>
          <div class="team-member__photo-frame">
            <img
              class="team-member__photo"
              src="./images/team-photo/mykhailo-suhak.jpg"
              alt="Mykhailo Suhak"
            />
          </div>

          <h4 class="team-member__position">Teammate</h4>
          <p class="team-member__part">
            <b>Part of the project:</b> Main, Cards
          </p>
        </div>
        <div class="favorite-film">
          <h3 class="favorite-film__title">Favorite film</h3>
          <div class="favorite-film__poster-frame">
            <img
              class="favorite-film__poster"
              src="./images/fav-films/parasite.jpg"
              alt="Parasite (2019)"
            />
          </div>
          <p class="favorite-film__name">Parasite (2019)</p>
        </div>
      </li>
      <li class="slide">
        <div class="team-member">
          <h3 class="team-member__name">Danylo Osadchenko</h3>
          <div class="team-member__photo-frame">
            <img
              class="team-member__photo"
              src="./images/team-photo/danylo-osadchenko.jpg"
              alt="Danylo Osadchenko"
            />
          </div>

          <h4 class="team-member__position">Teammate</h4>
          <p class="team-member__part">
            <b>Part of the project:</b> Main, Paggination
          </p>
        </div>
        <div class="favorite-film">
          <h3 class="favorite-film__title">Favorite film</h3>
          <div class="favorite-film__poster-frame">
            <img
              class="favorite-film__poster"
              src="./images/fav-films/harry-potter.jpg"
              alt="Harry Potter and the Philosopher&rsquo;s Stone (2001)"
            />
          </div>
          <p class="favorite-film__name">
            Harry Potter and the Philosopher&rsquo;s Stone (2001)
          </p>
        </div>
      </li>
      <li class="slide">
        <div class="team-member">
          <h3 class="team-member__name">Darya Shlyakhovaya</h3>
          <div class="team-member__photo-frame">
            <img
              class="team-member__photo"
              src="./images/team-photo/darya-shlyakhovaya.jpg"
              alt="Darya Shlyakhovaya"
            />
          </div>

          <h4 class="team-member__position">Scrum master</h4>
          <p class="team-member__part">
            <b>Part of the project:</b> Main, Header
          </p>
        </div>
        <div class="favorite-film">
          <h3 class="favorite-film__title">Favorite film</h3>
          <div class="favorite-film__poster-frame">
            <img
              class="favorite-film__poster"
              src="./images/fav-films/the-equalizer.jpg"
              alt="The Equalizer (2014)"
            />
          </div>
          <p class="favorite-film__name">The Equalizer (2014)</p>
        </div>
      </li>
      <li class="slide">
        <div class="team-member">
          <h3 class="team-member__name">Pavel Zhydieiev</h3>
          <div class="team-member__photo-frame">
            <img
              class="team-member__photo"
              src="./images/team-photo/pavel-zhydieiev.jpg"
              alt="Pavel Zhydieiev"
            />
          </div>

          <h4 class="team-member__position">Team leader</h4>
          <p class="team-member__part"><b>Part of the project:</b> Footer</p>
        </div>
        <div class="favorite-film">
          <h3 class="favorite-film__title">Favorite film</h3>
          <div class="favorite-film__poster-frame">
            <img
              class="favorite-film__poster"
              src="./images/fav-films/matrix-reloaded.jpg"
              alt="Matrix Reloaded (2003)"
            />
          </div>
          <p class="favorite-film__name">Matrix Reloaded (2003)</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- is-hidden -->
