<footer class="footer">
  <div class="container footer__container">
    <span class="footer__rights"
      >&#169; 2022 &smid; All Rights Reserved &smid;</span
    >
    <span class="footer__devs">
      Developed with
      <svg class="footer__heart">
        <use href="./images/svg/sprite.svg#footer-heart"></use>
      </svg>
      by
      <a class="footer__link" href="#" id="goit-students">GoIT Students</a>
    </span>
  </div>
</footer>
<div class="modal-footer is-hidden">
  <h2 class="modal-footer__title">Our team Project8</h2>
  <div class="slider-wrapper">
    <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
    <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>
    <ul class="slides-container" id="slides-container">
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
    </ul>
  </div>
</div>
