<main class="main">
  <section class="pagination">
    <div class="container">
      <ul class="pagination__movies" aria-live="polite"></ul>
      <nav class="pagination__wrapper">
        <button
          class="pagination__button"
          id="prev-button"
          title="Previous page"
          aria-label="Previous page"
        >
          <svg class="footer__heart">
            <use href="./images/svg/sprite.svg#footer-heart"></use>
          </svg>
        </button>

        <div class="pagination__pages"></div>

        <button
          class="pagination__button"
          id="next-button"
          title="Next page"
          aria-label="Next page"
        >
          <svg class="footer__heart">
            <use href="./images/svg/sprite.svg#footer-heart"></use>
          </svg>
        </button>
      </nav>
    </div>
  </section>
</main>
