<header>
  <div class="header_lib">
    <ul class="container header_nav">
      <li class="header_nav--logo">
        <a class="logo" href="./index.html">
          <img src="./images/favicon.png " alt=" logo " />
        </a>
      </li>
      <li class="header_nav--film hidden-lib">
        <a href="./index.html" class="header_nav--filmoteka link">Filmoteka </a>
      </li>
      <li class="header_nav--home">
        <a class="header_nav--link link" href="./index.html">HOME</a>
      </li>
      <li class="header_nav--lib">
        <a class="header_nav--link header_nav--current link" href=""
          >MY LIBRARY</a
        >
      </li>
    </ul>
    <ul class="button_list">
      <li class="button_list-watch">
        <button class="button_watched">WATCHED</button>
      </li>
      <li class="button_list-queue">
        <button class="button_queue">QUEUE</button>
      </li>
      <li class="">
        <button class="theme-day">
          <svg class="theme-day--svg" id="theme-day" width="20px" height="20px">
            <use href="./images/svg/theme-lib.svg#icon-theme"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
