<header class="header_lib">
  <div class="container">
    <nav class="nav-header">
      <div class="header-logo">
        <a class="header-logo__link" href="/src/index.html">
          <svg class="header-logo__icon" width="24" height="24">
            <use href="./images/svg/sprite.svg#logo"></use>
          </svg>
          <h1 class="header-title">Filmoteka</h1>
        </a>
      </div>

      <ul class="header-list">
        <li class="header-list__item">
          <a class="header-list__link" href="/src/index.html">Home</a>
        </li>

        <li class="header-list__item">
          <a
            class="header-list__link header-list__link--current"
            href="./library.html"
            >My Library</a
          >
        </li>
      </ul>
    </nav>
    <ul class="button_list">
      <li class="button_list-watch">
        <button class="button_watched header-lib-button">WATCHED</button>
      </li>
      <li class="button_list-queue">
        <button class="button_queue header-lib-button">QUEUE</button>
      </li>
    </ul>
      <label class="switch">
        <input class="check" type="checkbox" id="myCheck" />
        <span class="slider round"></span>
      </label>
  
  </div>
</header>
