<header>
  <div class="header_lib">
    <ul class="container header_nav">
      <li class="header_nav--logo">
        <a class="logo" href="./index.html">
          <svg class="header-logo__icon" width="24" height="24">
            <use href="./images/svg/sprite.svg#logo"></use>
          </svg>
        </a>
      </li>
      <li class="header_nav--film hidden-lib">
        <a href="./index.html" class="header_nav--filmoteka link">Filmoteka </a>
      </li>
      <li class="header_nav--home">
        <a class="header_nav--link link" href="./index.html">HOME</a>
      </li>
      <li class="header_nav--lib">
        <a class="header_nav--link header_nav--current link" href=""
          >MY LIBRARY</a
        >
      </li>
    </ul>
    <ul class="button_list">
      <li class="button_list-watch">
        <button class="button_watched">WATCHED</button>
      </li>
      <li class="button_list-queue">
        <button class="button_queue">QUEUE</button>
      </li>

      <label class="switch">
        <input type="checkbox" id="myCheck" />
        <span class="slider round"></span>
      </label>
    </ul>
  </div>
</header>
