<body>
  <div class="backdrop">
    <div class="modal">
      <button class="close-modal" data-modal="close">
        <svg class="icon-close-btn" width="30" height="30">
          <use href="/src/images/svg/sprite.svg#close-btn"></use>
        </svg>
      </button>
      <img class="film-image" width="290" height="370" />
      <p class="film-title"></p>
      <p class="film-votes"></p>
      <p class="film-original-title"></p>
      <p class="film-popularity"></p>
      <p class="genre"></p>
      <p class="film-about"><br /></p>
      <button class="watched-films-btn">ADD TO WATCHED</button>
      <button>ADD TO QUEUE</button>
    </div>
  </div>
</body>
