<body>
  <div class="backdrop">
    <div class="modal">
      <button data-modal="close"></button>
      <img
        width="290"
        height="370"
        src="https://image.tmdb.org/t/p/w500${
        element.poster_path
      }"
      />
      <p class="film-votes"></p>
      <p class="film-title">Original Title ${element.original_title}</p>
      <p class="film-popularity"></p>
      <p class="genre">${genreName}</p>
      <p class="film-about">About <br />${element.overview}</p>
      <button>ADD TO WATCHED</button>
      <button>ADD TO QUEUE</button>
    </div>
  </div>
</body>
