@import '../utils/variables';

[data-modal-backdrop] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000004a;
  visibility: visible;
  transition: background-color 0.5s $timing-function,
    visibility 0.5s $timing-function;

  &.is-modal-hidden {
    background-color: transparent;
    visibility: hidden;
  }

  &.is-modal-hidden [data-modal] {
    top: -100%;
    opacity: 0;
  }
}

[data-modal] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 12px 12px 12px;

  background-color: $bgc-primary;
  transition-property: top, opacity;
  transition-duration: 0.5s;
  transition-timing-function: $timing-function;
  opacity: 1;
}

[data-modal-close] {
  position: relative;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    height: 14px;
    width: 2px;
    background-color: black;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
