.footer {
  position: fixed;
  bottom: 0;

  padding-top: 30px;
  padding-bottom: 28px;

  width: 100%;
  height: 77px;
  background-color: $bgc-footer;

  font-size: 16px;
  line-height: 1.1875;

  &__container {
    text-align: center;
  }

  &__link {
    color: $footer-text-color;
  }
}

@keyframes heartBeat {
  20% {
    scale: 1.2;
  }
  30% {
    scale: 1;
  }
  40% {
    scale: 1.3;
  }

  50% {
    scale: 1.2;
  }
  60% {
    scale: 1;
  }
  70% {
    scale: 1.3;
  }
}

.footer__heart {
  display: inline-block;

  width: 14px;
  height: 13px;

  animation-name: heartBeat;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
