.pagination {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 60px;

    @include mq(mobile-only) {
      padding-bottom: 40px;
    }
  }

  &__number,
  &__button {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: unset;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.333;
  }

  &__number.active {
    color: #fff;
    background: $accent-text-color;
  }

  &__arrow {
    height: 16px;
    width: 16px;
  }

  &__pages span {
    cursor: default;
    -ms-user-select: none;
    user-select: none;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.gallery {
  min-height: 64vh;

  &__vote {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 16px;

    margin-left: 8px;
   
    color: $secondary-text-color;
    background-color: $accent-text-color;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.167;
    font-weight: 500;

    @include mq(desktop) {
      width: 40px;
     height: 20px;
    }
  }
}

