.header_lib {
  padding-top: 44px;
  padding-bottom: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url('../images/bg-img/Rectangle-mob1.jpg');
  // flex-grow: 1;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/bg-img/Rectangle-mob1@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .header_lib {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/bg-img/Rectangle-tab1.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/bg-img/Rectangle-tab1@2x.jpg');
    }
  }
}

@media screen and (min-width: 1280px) {
  .header_lib {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('../images/bg-img/Rectangle-desc1.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('../images/bg-img/Rectangle-desc1@2x.jpg');
    }
  }
}
.logo > img {
  margin-top: 44px;
  width: 30px;
}
.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_nav--film {
  margin-top: 44px;
}

.header_nav--home {
  margin-left: auto;
  margin-right: 39px;
  margin-top: 44px;
}
.header_nav--lib {
  margin-top: 44px;
}
.button_list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 60px;
}
.button_list-watch {
  margin-right: 20px;
}

.header_nav--link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $secondary-text-color;

  padding: 5px 10px;
  transition: color$timing-function, 250ms;
  &:hover {
    color: darkgrey;
  }
}
.header_nav--current::after {
  content: '';
  position: absolute;
  display: flex;
  width: 80%;
  height: 3px;
  right: 10px;
  border-radius: 2px;
  background-color: #f10c27;
}
.button_watched {
  color: $secondary-text-color;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  border: 1px solid $secondary-text-color;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);

  padding: 13px 36px;

  transition: color$timing-function, 250ms;
  &:hover {
    color: darkgrey;
  }
}

.button_queue {
  color: $secondary-text-color;
  background-color: $accent-text-color;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  border: 1px solid $accent-text-color;
  border-radius: 5px;

  padding: 13px 36px;

  transition: color$timing-function, 250ms;
  &:hover {
    color: darkgrey;
  }
}

.hidden {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.header_nav--filmoteka {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-left: 14px;
  color: $secondary-text-color;
  transition: color$timing-function, 250ms;
  &:hover {
    color: darkgrey;
  }
}
