.backdrop {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.4);
}
.active {
  display: block;
}
.modal {
  width: 80%;
  height: 90%;
  overflow: scroll;
  background-color: white;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 48px 20px 40px 20px;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: transparent;
}
.film-image {
  border-radius: 5px;
}
